<div class="row cr-question">
    <div class="span3 cr-label cr-question-left">
        <label for="address-country-{{id}}">
            {{label}} country {{#if addressIsOptional}}<small class="inline">(optional)</small>{{/if}}
        </label>

        <select id="address-country-{{id}}" class="filled" data-label="{{label}}">
            {{#if country100 }}
                <option label="United States" value="100" selected="selected">United States</option>
            {{else}}
                <option label="United States" value="100">United States</option>
            {{/if}}

            {{#if country1006 }}
                <option label="Afghanistan" value="1006" selected="selected">Afghanistan</option>
            {{else}}
                <option label="Afghanistan" value="1006">Afghanistan</option>
            {{/if}}

            {{#if country1008 }}
                <option label="Albania" value="1008" selected="selected">Albania</option>
            {{else}}
                <option label="Albania" value="1008">Albania</option>
            {{/if}}

            {{#if country2849 }}
                <option label="Algeria" value="2849" selected="selected">Algeria</option>
            {{else}}
                <option label="Algeria" value="2849">Algeria</option>
            {{/if}}

            {{#if country2850 }}
                <option label="Andorra" value="2850" selected="selected">Andorra</option>
            {{else}}
                <option label="Andorra" value="2850">Andorra</option>
            {{/if}}

            {{#if country2851 }}
                <option label="Angola" value="2851" selected="selected">Angola</option>
            {{else}}
                <option label="Angola" value="2851">Angola</option>
            {{/if}}

            {{#if country2852 }}
                <option label="Antigua and Barbuda" value="2852" selected="selected">Antigua and Barbuda</option>
            {{else}}
                <option label="Antigua and Barbuda" value="2852">Antigua and Barbuda</option>
            {{/if}}

            {{#if country1009 }}
                <option label="Argentina" value="1009" selected="selected">Argentina</option>
            {{else}}
                <option label="Argentina" value="1009">Argentina</option>
            {{/if}}

            {{#if country2853 }}
                <option label="Armenia" value="2853" selected="selected">Armenia</option>
            {{else}}
                <option label="Armenia" value="2853">Armenia</option>
            {{/if}}

            {{#if country1010 }}
                <option label="Australia" value="1010" selected="selected">Australia</option>
            {{else}}
                <option label="Australia" value="1010">Australia</option>
            {{/if}}

            {{#if country1011 }}
                <option label="Austria" value="1011" selected="selected">Austria</option>
            {{else}}
                <option label="Austria" value="1011">Austria</option>
            {{/if}}

            {{#if country1012 }}
                <option label="Azerbaijan" value="1012" selected="selected">Azerbaijan</option>
            {{else}}
                <option label="Azerbaijan" value="1012">Azerbaijan</option>
            {{/if}}

            {{#if country2854 }}
                <option label="Bahamas" value="2854" selected="selected">Bahamas</option>
            {{else}}
                <option label="Bahamas" value="2854">Bahamas</option>
            {{/if}}

            {{#if country2855 }}
                <option label="Bahrain" value="2855" selected="selected">Bahrain</option>
            {{else}}
                <option label="Bahrain" value="2855">Bahrain</option>
            {{/if}}

            {{#if country2856 }}
                <option label="Bangladesh" value="2856" selected="selected">Bangladesh</option>
            {{else}}
                <option label="Bangladesh" value="2856">Bangladesh</option>
            {{/if}}

            {{#if country2857 }}
                <option label="Barbados" value="2857" selected="selected">Barbados</option>
            {{else}}
                <option label="Barbados" value="2857">Barbados</option>
            {{/if}}

            {{#if country1013 }}
                <option label="Belarus" value="1013" selected="selected">Belarus</option>
            {{else}}
                <option label="Belarus" value="1013">Belarus</option>
            {{/if}}

            {{#if country1014 }}
                <option label="Belgium" value="1014" selected="selected">Belgium</option>
            {{else}}
                <option label="Belgium" value="1014">Belgium</option>
            {{/if}}

            {{#if country1015 }}
                <option label="Belize" value="1015" selected="selected">Belize</option>
            {{else}}
                <option label="Belize" value="1015">Belize</option>
            {{/if}}

            {{#if country2858 }}
                <option label="Benin" value="2858" selected="selected">Benin</option>
            {{else}}
                <option label="Benin" value="2858">Benin</option>
            {{/if}}

            {{#if country2859 }}
                <option label="Bhutan" value="2859" selected="selected">Bhutan</option>
            {{else}}
                <option label="Bhutan" value="2859">Bhutan</option>
            {{/if}}

            {{#if country1016 }}
                <option label="Bolivia" value="1016" selected="selected">Bolivia</option>
            {{else}}
                <option label="Bolivia" value="1016">Bolivia</option>
            {{/if}}

            {{#if country1017 }}
                <option label="Bosnia and Herzegovina" value="1017" selected="selected">Bosnia and Herzegovina</option>
            {{else}}
                <option label="Bosnia and Herzegovina" value="1017">Bosnia and Herzegovina</option>
            {{/if}}

            {{#if country2860 }}
                <option label="Botswana" value="2860" selected="selected">Botswana</option>
            {{else}}
                <option label="Botswana" value="2860">Botswana</option>
            {{/if}}

            {{#if country1018 }}
                <option label="Brazil" value="1018" selected="selected">Brazil</option>
            {{else}}
                <option label="Brazil" value="1018">Brazil</option>
            {{/if}}

            {{#if country1019 }}
                <option label="Brunei Darussalam" value="1019" selected="selected">Brunei Darussalam</option>
            {{else}}
                <option label="Brunei Darussalam" value="1019">Brunei Darussalam</option>
            {{/if}}

            {{#if country1020 }}
                <option label="Bulgaria" value="1020" selected="selected">Bulgaria</option>
            {{else}}
                <option label="Bulgaria" value="1020">Bulgaria</option>
            {{/if}}

            {{#if country2861 }}
                <option label="Burkina Faso" value="2861" selected="selected">Burkina Faso</option>
            {{else}}
                <option label="Burkina Faso" value="2861">Burkina Faso</option>
            {{/if}}

            {{#if country2862 }}
                <option label="Burma" value="2862" selected="selected">Burma</option>
            {{else}}
                <option label="Burma" value="2862">Burma</option>
            {{/if}}

            {{#if country2863 }}
                <option label="Burundi" value="2863" selected="selected">Burundi</option>
            {{else}}
                <option label="Burundi" value="2863">Burundi</option>
            {{/if}}

            {{#if country2864 }}
                <option label="Cambodia" value="2864" selected="selected">Cambodia</option>
            {{else}}
                <option label="Cambodia" value="2864">Cambodia</option>
            {{/if}}

            {{#if country2865 }}
                <option label="Cameroon" value="2865" selected="selected">Cameroon</option>
            {{else}}
                <option label="Cameroon" value="2865">Cameroon</option>
            {{/if}}

            {{#if country1021 }}
                <option label="Canada" value="1021" selected="selected">Canada</option>
            {{else}}
                <option label="Canada" value="1021">Canada</option>
            {{/if}}

            {{#if country2866 }}
                <option label="Cape Verde" value="2866" selected="selected">Cape Verde</option>
            {{else}}
                <option label="Cape Verde" value="2866">Cape Verde</option>
            {{/if}}

            {{#if country2867 }}
                <option label="Cayman Islands" value="2867" selected="selected">Cayman Islands</option>
            {{else}}
                <option label="Cayman Islands" value="2867">Cayman Islands</option>
            {{/if}}

            {{#if country2868 }}
                <option label="Central African Republic" value="2868" selected="selected">Central African Republic</option>
            {{else}}
                <option label="Central African Republic" value="2868">Central African Republic</option>
            {{/if}}

            {{#if country2869 }}
                <option label="Chad" value="2869" selected="selected">Chad</option>
            {{else}}
                <option label="Chad" value="2869">Chad</option>
            {{/if}}

            <option label="Chile" value="1022">Chile</option>
            <option label="China" value="2870">China</option>
            <option label="Colombia" value="1023">Colombia</option>
            <option label="Comoros" value="2871">Comoros</option>
            <option label="Congo, The Democratic Republic of" value="2872">Congo, The Democratic Republic of</option>
            <option label="Costa Rica" value="1024">Costa Rica</option>
            <option label="Cote D'Ivoire" value="2873">Cote D'Ivoire</option>
            <option label="Croatia" value="1025">Croatia</option>
            <option label="Cuba" value="2874">Cuba</option>
            <option label="Cyprus" value="2875">Cyprus</option>
            <option label="Czech Republic" value="1026">Czech Republic</option>
            <option label="Denmark" value="1027">Denmark</option>
            <option label="Djibouti" value="2876">Djibouti</option>
            <option label="Dominica" value="2877">Dominica</option>
            <option label="Dominican Republic" value="1028">Dominican Republic</option>
            <option label="Ecuador" value="1029">Ecuador</option>
            <option label="Egypt" value="2878">Egypt</option>
            <option label="El Salvador" value="1030">El Salvador</option>
            <option label="Equatorial Guinea" value="2879">Equatorial Guinea</option>
            <option label="Eritrea" value="2880">Eritrea</option>
            <option label="Estonia" value="1031">Estonia</option>
            <option label="Ethiopia" value="2881">Ethiopia</option>
            <option label="Faroe Islands" value="1032">Faroe Islands</option>
            <option label="Fiji" value="2882">Fiji</option>
            <option label="Finland" value="1033">Finland</option>
            <option label="France" value="1034">France</option>
            <option label="Gabon" value="2883">Gabon</option>
            <option label="Gambia" value="2884">Gambia</option>
            <option label="Georgia" value="2885">Georgia</option>
            <option label="Germany" value="1035">Germany</option>
            <option label="Ghana" value="2886">Ghana</option>
            <option label="Greece" value="1036">Greece</option>
            <option label="Grenada" value="2887">Grenada</option>
            <option label="Guatemala" value="1037">Guatemala</option>
            <option label="Guinea" value="2888">Guinea</option>
            <option label="Guinea-Bissau" value="2889">Guinea-Bissau</option>
            <option label="Guyana" value="2890">Guyana</option>
            <option label="Haiti" value="2891">Haiti</option>
            <option label="Holy See (Vatican City State)" value="2892">Holy See (Vatican City State)</option>
            <option label="Honduras" value="1038">Honduras</option>
            <option label="Hong Kong" value="2893">Hong Kong</option>
            <option label="Hungary" value="1039">Hungary</option>
            <option label="Iceland" value="1040">Iceland</option>
            <option label="India" value="2894">India</option>
            <option label="Indonesia" value="1041">Indonesia</option>
            <option label="Iran, Islamic Republic of" value="2895">Iran, Islamic Republic of</option>
            <option label="Iraq" value="1042">Iraq</option>
            <option label="Ireland" value="1043">Ireland</option>
            <option label="Israel" value="2896">Israel</option>
            <option label="Italy" value="1044">Italy</option>
            <option label="Jamaica" value="1045">Jamaica</option>
            <option label="Japan" value="2897">Japan</option>
            <option label="Jordan" value="2898">Jordan</option>
            <option label="Kazakhstan" value="1046">Kazakhstan</option>
            <option label="Kenya" value="1047">Kenya</option>
            <option label="Kiribati" value="2899">Kiribati</option>
            <option label="Korea, Democratic People's Republic of" value="2900">Korea, Democratic People's Republic of</option>
            <option label="Korea, Republic of" value="2901">Korea, Republic of</option>
            <option label="Kosovo" value="2902">Kosovo</option>
            <option label="Kuwait" value="2903">Kuwait</option>
            <option label="Kyrgyzstan" value="1048">Kyrgyzstan</option>
            <option label="Lao People's Democratic Republic" value="2904">Lao People's Democratic Republic</option>
            <option label="Latvia" value="1049">Latvia</option>
            <option label="Lebanon" value="2905">Lebanon</option>
            <option label="Lesotho" value="2906">Lesotho</option>
            <option label="Liberia" value="2907">Liberia</option>
            <option label="Libya" value="2908">Libya</option>
            <option label="Liechtenstein" value="1050">Liechtenstein</option>
            <option label="Lithuania" value="1051">Lithuania</option>
            <option label="Luxembourg" value="1052">Luxembourg</option>
            <option label="Macedonia" value="1053">Macedonia</option>
            <option label="Madagascar" value="2909">Madagascar</option>
            <option label="Malawi" value="2910">Malawi</option>
            <option label="Malaysia" value="1054">Malaysia</option>
            <option label="Maldives" value="2911">Maldives</option>
            <option label="Mali" value="2912">Mali</option>
            <option label="Malta" value="1055">Malta</option>
            <option label="Marshall Islands" value="2913">Marshall Islands</option>
            <option label="Mauritania" value="2914">Mauritania</option>
            <option label="Mauritius" value="2915">Mauritius</option>
            <option label="Mexico" value="1056">Mexico</option>
            <option label="Micronesia, Federated States of" value="2916">Micronesia, Federated States of</option>
            <option label="Moldova, Republic of" value="2917">Moldova, Republic of</option>
            <option label="Monaco, Principality of " value="1068">Monaco, Principality of </option>
            <option label="Mongolia" value="1057">Mongolia</option>
            <option label="Morocco" value="2918">Morocco</option>
            <option label="Mozambique" value="2919">Mozambique</option>
            <option label="Namibia" value="2920">Namibia</option>
            <option label="Nauru" value="2921">Nauru</option>
            <option label="Nepal" value="2922">Nepal</option>
            <option label="Netherlands" value="1058">Netherlands</option>
            <option label="New Zealand" value="1059">New Zealand</option>
            <option label="Nicaragua" value="1060">Nicaragua</option>
            <option label="Niger" value="2923">Niger</option>
            <option label="Nigeria" value="2924">Nigeria</option>
            <option label="Norway" value="1061">Norway</option>
            <option label="Oman" value="2925">Oman</option>
            <option label="Pakistan" value="2926">Pakistan</option>
            <option label="Palau" value="2927">Palau</option>
            <option label="Panama" value="1062">Panama</option>
            <option label="Papua New Guinea" value="2928">Papua New Guinea</option>
            <option label="Paraguay" value="1063">Paraguay</option>
            <option label="Peru" value="1064">Peru</option>
            <option label="Philippines" value="1065">Philippines</option>
            <option label="Poland" value="1066">Poland</option>
            <option label="Portugal" value="1067">Portugal</option>
            <option label="Puerto Rico" value="1069">Puerto Rico</option>
            <option label="Qatar" value="2929">Qatar</option>
            <option label="Romania" value="1070">Romania</option>
            <option label="Russia" value="1071">Russia</option>
            <option label="Rwanda" value="2930">Rwanda</option>
            <option label="Saint Kitts and Nevis" value="2931">Saint Kitts and Nevis</option>
            <option label="Saint Lucia" value="2932">Saint Lucia</option>
            <option label="Saint Vincent and the Grenadines" value="2933">Saint Vincent and the Grenadines</option>
            <option label="Samoa" value="2934">Samoa</option>
            <option label="San Marino" value="2935">San Marino</option>
            <option label="Sao Tome and Principe" value="2936">Sao Tome and Principe</option>
            <option label="Saudi Arabia" value="2937">Saudi Arabia</option>
            <option label="Senegal" value="2938">Senegal</option>
            <option label="Serbia and Montenegro" value="1072">Serbia and Montenegro</option>
            <option label="Seychelles" value="2939">Seychelles</option>
            <option label="Sierra Leone" value="2940">Sierra Leone</option>
            <option label="Singapore" value="2941">Singapore</option>
            <option label="Slovakia" value="1073">Slovakia</option>
            <option label="Slovenia" value="1074">Slovenia</option>
            <option label="Solomon Islands" value="2942">Solomon Islands</option>
            <option label="Somalia" value="2943">Somalia</option>
            <option label="South Africa" value="1075">South Africa</option>
            <option label="South Sudan" value="2944">South Sudan</option>
            <option label="Spain" value="1076">Spain</option>
            <option label="Sri Lanka" value="2945">Sri Lanka</option>
            <option label="Sudan" value="2946">Sudan</option>
            <option label="Suriname" value="2947">Suriname</option>
            <option label="Swaziland" value="2948">Swaziland</option>
            <option label="Sweden" value="1077">Sweden</option>
            <option label="Switzerland" value="1078">Switzerland</option>
            <option label="Syrian Arab Republic" value="2949">Syrian Arab Republic</option>
            <option label="Taiwan" value="2950">Taiwan</option>
            <option label="Tajikistan" value="2951">Tajikistan</option>
            <option label="Tanzania, United Repulic Of" value="2952">Tanzania, United Repulic Of</option>
            <option label="Thailand" value="2953">Thailand</option>
            <option label="Timor-Leste" value="2954">Timor-Leste</option>
            <option label="Togo" value="2955">Togo</option>
            <option label="Tonga" value="2956">Tonga</option>
            <option label="Trinidad and Tobago" value="1079">Trinidad and Tobago</option>
            <option label="Tunisia" value="2957">Tunisia</option>
            <option label="Turkey" value="1080">Turkey</option>
            <option label="Turkmenistan" value="2958">Turkmenistan</option>
            <option label="Tuvalu" value="2959">Tuvalu</option>
            <option label="Uganda" value="2960">Uganda</option>
            <option label="Ukraine" value="1081">Ukraine</option>
            <option label="United Arab Emirates" value="2961">United Arab Emirates</option>
            <option label="United Kingdom" value="1082">United Kingdom</option>
            <option label="Uruguay" value="1083">Uruguay</option>
            <option label="Uzbekistan" value="1084">Uzbekistan</option>
            <option label="Vanuatu" value="2962">Vanuatu</option>
            <option label="Venezuela" value="1086">Venezuela</option>
            <option label="Vietnam" value="2963">Vietnam</option>
            <option label="Yemen" value="2964">Yemen</option>
            <option label="Zambia" value="2965">Zambia</option>
            <option label="Zimbabwe" value="1085">Zimbabwe</option>
        </select>
    </div>
</div>

<div class="row cr-question">
    <div class="span3 cr-label cr-question-left">
        <label for="address-line1-{{id}}">
            {{label}} line 1 {{#if addressIsOptional}}<small class="inline">(optional)</small>{{/if}}
        </label>
        <input type="text"
               name="address-line1-{{id}}"
               id="address-line1-{{id}}">
    </div>
</div>
<div class="row cr-question">
    <div class="span3 cr-label cr-question-left">
        <label for="address-line2-{{id}}">
            {{label}} line 2 {{#if addOptionalText}}<small class="inline">(optional)</small>{{/if}}
            <div class='is-required'>Answer Required</div>
        </label>

        <input type="text"
               name="address-line2-{{id}}"
               id="address-line2-{{id}}">
    </div>
</div>
{{#if isInternational}}
<div class="row cr-question">
    <div class="span3 cr-label cr-question-left">
        <label for="address-line3-{{id}}">
            {{label}} line 3 {{#if addOptionalText}}<small class="inline">(optional)</small>{{/if}}
            <div class='is-required'>Answer Required</div>
        </label>

        <input type="text"
               name="address-line3-{{id}}"
               id="address-line3-{{id}}">
    </div>
</div>
{{/if}}
<div class="row cr-question cr-question-last">
    <div class="span2 cr-label cr-question-col">
        <label for="address-city-{{id}}">
            City {{#if addressIsOptional}}<small class="inline">(optional)</small>{{/if}}
        </label>
        <input type="text"
               name="address-city-{{id}}"
               id="address-city-{{id}}">
    </div>

    <!-- state -->
    <div class="span2 cr-label cr-question-col">

        {{#if isInternational}}
        <label for="address-state-{{id}}">
            State/Province/Region {{#if addressIsOptional}}<small class="inline">(optional)</small>{{/if}}
        </label>
        <input type="text" name="address-state-{{id}}" id="address-state-{{id}}" placeholder="">
        {{else}}
        <label for="address-state-{{id}}">
            State {{#if addressIsOptional}}<small class="inline">(optional)</small>{{/if}}
        </label>
        <select name="address-state-{{id}}" id="address-state-{{id}}">
            <option value="" disabled="disabled" selected="selected">Select a state...</option>
            <option label="Alabama" value="2" >Alabama</option>
            <option label="Alaska" value="1" >Alaska</option>
            <option label="American Samoa" value="4" >American Samoa</option>
            <option label="Arizona" value="5" >Arizona</option>
            <option label="Arkansas" value="3" >Arkansas</option>
            <option label="California" value="6" >California</option>
            <option label="Colorado" value="7" >Colorado</option>
            <option label="Connecticut" value="8" >Connecticut</option>
            <option label="Delaware" value="10" >Delaware</option>
            <option label="District Of Columbia" value="9" >District Of Columbia</option>
            <option label="Federated States Of Micronesia" value="12" >Federated States Of Micronesia</option>
            <option label="Florida" value="11" >Florida</option>
            <option label="Georgia" value="13" >Georgia</option>
            <option label="Guam" value="14" >Guam</option>
            <option label="Hawaii" value="15" >Hawaii</option>
            <option label="Idaho" value="17" >Idaho</option>
            <option label="Illinois" value="18" >Illinois</option>
            <option label="Indiana" value="19" >Indiana</option>
            <option label="Iowa" value="16" >Iowa</option>
            <option label="Kansas" value="20" >Kansas</option>
            <option label="Kentucky" value="21" >Kentucky</option>
            <option label="Louisiana" value="22" >Louisiana</option>
            <option label="Maine" value="25" >Maine</option>
            <option label="Marshall Islands" value="26" >Marshall Islands</option>
            <option label="Maryland" value="24" >Maryland</option>
            <option label="Massachusetts" value="23" >Massachusetts</option>
            <option label="Michigan" value="27" >Michigan</option>
            <option label="Minnesota" value="28" >Minnesota</option>
            <option label="Mississippi" value="31" >Mississippi</option>
            <option label="Missouri" value="29" >Missouri</option>
            <option label="Montana" value="32" >Montana</option>
            <option label="Nebraska" value="35" >Nebraska</option>
            <option label="Nevada" value="39" >Nevada</option>
            <option label="New Hampshire" value="36" >New Hampshire</option>
            <option label="New Jersey" value="37" >New Jersey</option>
            <option label="New Mexico" value="38" >New Mexico</option>
            <option label="New York" value="40" >New York</option>
            <option label="North Carolina" value="33" >North Carolina</option>
            <option label="North Dakota" value="34" >North Dakota</option>
            <option label="Northern Mariana Islands" value="30" >Northern Mariana Islands</option>
            <option label="Ohio" value="41" >Ohio</option>
            <option label="Oklahoma" value="42" >Oklahoma</option>
            <option label="Oregon" value="43" >Oregon</option>
            <option label="Palau" value="46" >Palau</option>
            <option label="Pennsylvania" value="44" >Pennsylvania</option>
            <option label="Puerto Rico" value="45" >Puerto Rico</option>
            <option label="Rhode Island" value="47" >Rhode Island</option>
            <option label="South Carolina" value="48" >South Carolina</option>
            <option label="South Dakota" value="49" >South Dakota</option>
            <option label="Tennessee" value="50" >Tennessee</option>
            <option label="Texas" value="51" >Texas</option>
            <option label="Utah" value="52" >Utah</option>
            <option label="Vermont" value="55" >Vermont</option>
            <option label="Virgin Islands" value="54" >Virgin Islands</option>
            <option label="Virginia" value="53" >Virginia</option>
            <option label="Washington" value="56" >Washington</option>
            <option label="West Virginia" value="58" >West Virginia</option>
            <option label="Wisconsin" value="57" >Wisconsin</option>
            <option label="Wyoming" value="59" >Wyoming</option>
            <option label="Armed Forces Middle East" value="95" >Armed Forces Middle East</option>
            <option label="Armed Forces Americas" value="94" >Armed Forces Americas</option>
            <option label="Armed Forces Pacific" value="96" >Armed Forces Pacific</option>
        </select>
        {{/if}}
    </div>

    <div class="span3 cr-label cr-question-col">
        {{#if isInternational}}
        <label for="address-zipcode-{{id}}">
            ZIP/Postal code {{#if addressIsOptional}}<small class="inline">(optional)</small>{{/if}}
        </label>
        <input type="text"
               name="address-zipcode-{{id}}"
               id="address-zipcode-{{id}}">
        {{else}}
        <label for="address-zipcode-{{id}}">
            ZIP code {{#if addressIsOptional}}<small class="inline">(optional)</small>{{/if}}
        </label>
        <input type="text"
               name="address-zipcode-{{id}}"
               id="address-zipcode-{{id}}">
        {{/if}}
    </div>

</div>
